
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icons/icomoon.eot?8423zj');
	src:  url('../fonts/icons/icomoon.eot?8423zj#iefix') format('embedded-opentype'),
	url('../fonts/icons/icomoon.ttf?8423zj') format('truetype'),
	url('../fonts/icons/icomoon.woff?8423zj') format('woff'),
	url('../fonts/icons/icomoon.svg?8423zj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-arrows:before {
	content: "\f047";
}
.icomoon-chevron-left:before {
	content: "\f053";
}
.icomoon-chevron-right:before {
	content: "\f054";
}
.icomoon-arrows-alt:before {
	content: "\f0b2";
}
.icomoon-comment-o:before {
	content: "\f0e5";
}

.reveal {
	font-size: 30px;
}
.reveal p {
	font-weight: normal;
	line-height: 24px;
}
.reveal h1 {
	color: white;
}
.reveal .sl-block {
	display: block;
	position: absolute;
	z-index: auto
}

.reveal .sl-block .sl-block-content {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
	margin: 0;
	outline: 0;
	word-wrap: break-word;
	overflow: hidden;
}

.reveal .sl-block .sl-block-content>:first-child {
	margin-top: 0
}

.reveal .sl-block .sl-block-content>:last-child {
	margin-bottom: 0
}
.reveal .sl-block[data-block-type="image"] .sl-block-content img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	position: relative;
}

.reveal .progress {
	margin-bottom: 0;
}

.reveal.has-light-background section p,
.reveal.has-light-background section h1,
.reveal.has-light-background section h3,
.reveal.has-light-background section div.slide-paragraph {
	color: #38405d !important;
}

.reveal.has-dark-background section p,
.reveal.has-dark-background section h1,
.reveal.has-dark-background section h3,
.reveal.has-dark-background section div.slide-paragraph {
	color: #ffffff !important;
}

.reveal.has-dark-background .customcontrols button {
	color: #ffffff;
}

.reveal.has-light-background .customcontrols button {
	color: #000000;
}

.reveal .sl-block .sl-block-content a.btn {
	padding: 2rem 2rem;
}

.wikids-test {
	height: 100%;
}

.wikids-test-header {

}

.wikids-test-header .wikids-progress {
	margin-bottom: 0 !important;
}

.wikids-test-header h3 {
	font-size: 4rem;
}

.wikids-test-header p {
	font-size: 2rem;
}

.wikids-test-questions {
	margin-top: 10px;
	text-align: left;
}

.wikids-test-questions .question-title {
	text-align: center;
	font-weight: 700;
	line-height: 3.5rem;
	font-size: 2.5rem;
	margin: 10px 0 20px 0;
}

.wikids-test-questions .question-stars {
	/*margin: 0;
	*/
}

.wikids-test-questions .question-stars .stars {
	text-align: right;
}

.wikids-test-questions .question-stars .hints a {
	font-size: 2rem;
	color: #99cd50;
}

.wikids-test-questions .question-stars .hints a:hover {
	text-decoration: underline;
}

.wikids-test-questions .question-image {
	text-align: center;
	padding-right: 10px;
}

.wikids-test-questions .question-image img {

}

.wikids-test-questions p {
	font-weight: bold;
}

.wikids-test-answers {
	/*margin-top: 10px;*/
	max-height: 455px;
	overflow: hidden;
	overflow-y: auto;
}



.wikids-test-answers .tooltip-inner {
	font-size: 20px;
	width: auto;
	max-width: 100%;
}

.wikids-test-question {
	height: 100%;
}

.wikids-test-answer {
	margin: 10px;
	cursor: pointer;
	display: flex;
}

.wikids-test-answer:hover {
	background-color: #eeeeee;
}

.reveal.has-light-background .wikids-test-answer:hover {
	background-color: #eeeeee;
}

.reveal.has-dark-background .wikids-test-answer:hover {
	background-color: #38405d;
}

.wikids-test-answer label,
.wikids-test-answer img {
	margin-left: 20px;
	margin-bottom: 0;
}

.reveal.has-light-background .wikids-test-answer label,
.reveal.has-light-background .wikids-test-question p {
	color: #38405d;
}

.reveal.has-dark-background .wikids-test-answer label,
.reveal.has-dark-background .wikids-test-question p {
	color: #ffffff;
}

.wikids-test-answer input {
	float: left;
}

.wikids-test-answer label {
	pointer-events: none;
	font-size: 24px;
	user-select: none;
	vertical-align: top;
	font-weight: 500;
	line-height: 2.8rem;
}

.wikids-test-answer input[type=checkbox],
.wikids-test-answer input[type=radio] {
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.wikids-test-results h2 {
	margin: 50px 0;
}

.wikids-test-results p {
	margin: 10px 0;
}

.wikids-test-begin-page {

}

.wikids-test-begin-page h3 {
	font-size: 3rem;
}

.wikids-test-begin-page .list-group a.active h4 {
	color: white !important;
}

.wikids-test-begin-page p {
	margin: 20px 0;
}

.wikids-test-begin-page .row-wrapper {
	min-height: 200px;
	padding: 20px 0;
}

.wikids-test-students-help {
	font-size: 1.8rem;
}

.wikids-test-begin-page .list-group h4 {
	font-size: 2.2rem;
}

.wikids-test-begin-page .list-group p {
	margin: 0;
	font-size: 1.8rem;
}

.wikids-test-begin-page .list-group a.active p {
	color: inherit !important;
}

.wikids-test-begin-page .list-group {
	max-width: 400px;
	margin: 0 auto 15px;
}

.wikids-test-student-info {
	text-align: right;
	font-size: 20px;
	padding: 10px 0;
}

.wikids-test-buttons {
	padding: 20px;
}

p.wikids-test-description {
	text-align: left;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.sl-block[data-block-type=text] p {
	padding: 0 10px;
}

.wikids-slide-links {
	width: 307px;
	position: absolute;
	z-index: 99;
	text-align: center;
	display: block;
	left: 973px;
	top: 500px;
	height: auto;
}

.wikids-slide-links-mini {
	top: 630px;
}

.wikids-slide-links h4 {
	color: #99cd50;
	font-size: 2.5rem;
}

.wikids-slide-links a {
	color: white;
	text-decoration: underline;
	font-size: 2.2rem;
	display: table;
	margin: 6px auto;
}

.reveal.has-dark-background .wikids-slide-links {
	background-color: black;
}

.reveal.has-light-background .wikids-slide-links {
	background-color: white;
	opacity: .8;
}

.reveal.has-light-background .wikids-slide-links a {
	color: #38405d !important;
}

.reveal.has-dark-background .wikids-slide-links a {
	color: #ffffff;
}

.wikids-slide-links .wikids-slide-links-more {
	font-size: 1.8rem;
}

.wikids-slide-links-more-on {
	top: 0;
	height: 720px;
	opacity: 1 !important;
}

.wikids-video-player {
	width: 100%;
	height: 100%;
}

.plyr {
	width: 100%;
	height: 100%;
}

.plyr__video-embed iframe {
	top: -50% !important;
	height: 200% !important;
	width: 100%;
}

.autoplay-overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #454e56;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
}

.autoplay-timer {
	top: 40%;
	transform: translateY(-50%);
	margin: 0 auto;
	vertical-align: middle;
	height: 50px;
	width: 50px;
	position: relative;
}

.autoplay-timer-title a {
	text-decoration: underline;
	font-weight: bold;
}

.autoplay-timer-second {
	font-size: 5rem;
	font-weight: bold;
	display: inline-block;
	margin: 20px 0 20px;
}



.wikids-recorder {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
}

.wikids-recorder-inner {
	margin: 100px auto;
	width: 700px;
	height: 500px;
	background-color: #fff;
	border: 1px solid;
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	z-index: 1051;
	font-size: 2.5rem;
	padding: 20px;
}

.recorder-controls {
	padding: 20px 0;
	text-align: center;
}

.recorder-controls button {
	margin: 0 10px;
}

.recorder-tracks {
	text-align: center;
}

.recorder-merge-button {
	display: none;
	margin: 0 10px 10px 10px;
}

.recorder-create-track {
	margin-left: 20px;
}

.recorder-audio {
	text-align: center;
	position: relative;
}

.recorder-timer {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	display: none;
	position: absolute;
	font-size: 12rem;
	padding-top: 70px;
}

.sl-block-content .image-source {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: left;
	font-size: .8em;
	color: white;
}

.wikids-test-loader {
	margin-top: 18%;
}

.wikids-test-loader p {
	padding: 20px 0;
}

.wikids-test-image-original {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
}


.wikids-test-image-original-inner {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	position: relative;
}

.image-loader {
	background: url('/img/loading.gif') no-repeat center center;
}

.wikids-test-image-original-inner img {
	max-width: 100%;
	max-height: 100%;
	cursor: zoom-out;
	display: none;
}

.wikids-test-correct-answer-page {
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
	height: 100%;
	background-color: inherit;
}

.wikids-test-correct-answer-page-header {
	font-weight: bold !important;
	margin: 20px 0 40px;
}

.wikids-test-correct-answer-answers {
	max-height: 586px;
	overflow: hidden;
	overflow-y: auto;
	text-align: left;
}

.wikids-test-correct-answer-answers > .row {
	margin-bottom: 20px;
}

.wikids-test-correct-answer-answers h4 {
	font-size: 3.2rem !important;
	text-align: center;
	color: #000000;
	margin-bottom: 30px;
}

.wikids-test-correct-answer-answers img {
	float: left;
}

.wikids-test-correct-answer-page-answer p {
	font-size: 2.5rem;
}

.wikids-test-correct-answer-answers p {
	margin-left: 150px;
	font-size: 2.5rem;
}

.new-questions-header {
	display: none;
}

.wikids-test-success-question-page {
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
	height: 100%;
	background-color: inherit;
	margin-top: 30px;
}

.wikids-test-success-question-page-content i {
	font-size: 5rem;
}

.wikids-test-success-question-page-content h4 {
	margin-bottom: 30px;
}

.wikids-test-success-question-page-content img {
	margin-bottom: 30px;
	max-height: 350px;
}

.wikids-test-error-page {
	margin-top: 18%;
}

.keyboard-wrapper {
	text-align: center;
	margin-top: 50px;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#keyboard li {
	float: left;
	margin: 25px 5px 25px 0;
	width: 80px;
	height: 80px;
	font-size: 3rem;
	line-height: 80px;
	text-align: center;
	background: #fff;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}
#keyboard li.letter-empty {
	border: 0 none;
}
.capslock, .tab, .left-shift, .clearl, .switch {
	clear: left;
}
#keyboard .tab, #keyboard .delete {
	width: 70px;
}
#keyboard .capslock {
	width: 80px;
}
#keyboard .return {
	width: 90px;
}
#keyboard .left-shift{
	width: 70px;
}

#keyboard .switch {
	width: 90px;
}
#keyboard .rightright-shift {
	width: 109px;
}
.lastitem {
	margin-right: 0;
}
.uppercase {
	text-transform: uppercase;
}
#keyboard .space {
	float: left;
	width: 556px;
}
#keyboard .switch, #keyboard .space, #keyboard .return{
	font-size: 16px;
}
.on {
	display: none;
}
#keyboard li.letter:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #808080;
	cursor: pointer;
}

.test-recognition {
	text-align: center;
}

.test-recognition .recognition-status {
	font-size: 2rem;
}

.test-recognition .wikids-test-loader {
	margin-top: 20px;
	margin-bottom: 20px;
}

.test-recognition .recognition-repeat,
.test-recognition .recognition-stop {
	font-size: 5rem;
	color: red;
	margin-top: 40px;
}

.test-recognition .recognition-result {
	min-height: 36px;
	background-color: #eee;
	margin: 6px 50px;
	padding: 10px;
}

.test-recognition .recognition-result-interim {

}

.test-recognition .recognition-result-wrapper {
	min-height: 100px;
}

.test-recognition .recognition-repeat-word {
	margin-top: 10px;
}

.question-region {
	cursor: crosshair;
}

.missing-words {

}

.missing-words .missing-words-text {
	margin-top: 50px;
}

.reveal section .slide-paragraph {
	/*color: #FFFFFF;*/
	font-size: 0.8em;
}

.reveal section .slide-paragraph a {
	color: #99cd50;
	text-decoration: underline;
}

.wikids-sortable-ghost {
	opacity: .5;
	background: #C8EBFB;
	cursor: move;
}

.wikids-sortable-handle {
	cursor: grab;
	margin-right: 6px;
}

.wikids-test-begin-page-options label {
	font-size: 2rem;
	font-weight: normal;
}

.wikids-test-begin-page-options input[type=checkbox] {
	transform: scale(1.5);
	margin-right: 4px;
}

.wikids-test-begin {
	margin-top: 15px;
}

.wikids-test-correct-answer-answers .question-region {
	cursor: default;
}

.answer-rect {
	pointer-events: none;
}

#story-editor section {
	height: 100%;
	padding: 0;
}

.sl-block .new-questions {
	width: 100%;
	height: 100%;
}

.sequence-question-list .list-group-item,
.sequence-question-list .media {
	border: 0 none;
	user-select: none;
	margin-top: 5px;
}

.sequence-question-list .media {
	min-height: 50px;
}

.sequence-question-list .media:first-child {
	margin-top: 0;
}

.sequence-question-list .ui-sortable-helper {
	cursor: move;
}

.slide-state-alert-wrapper {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1056;
	background-color: rgba(170, 170, 170, .4);
	pointer-events: auto;
}

.slide-state-alert-inner {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide-state-alert {
	margin: 18% auto;
	width: 630px;
	height: 180px;
	background-color: #fff;
	border: 1px solid;
	border-radius: 6px;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	z-index: 1057;
	font-size: 2.5rem;
	padding: 20px;
	opacity: 1;
}

.slide-state-alert .buttons {
	text-align: center;
}

.slide-state-alert p {
	font-size: 2rem;
	margin: 20px 0 30px
}

.slide-state-alert .buttons {
	margin-bottom: 20px;
}

.slide-state-alert button {
	min-width: 100px;
	margin: 0 7px;
}



.slide-hints-wrapper {
	/*display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1056;
	background-color: rgba(170, 170, 170, .4);
	pointer-events: auto;
	width: 1280px;
	height: 720px;*/
	position: fixed;
	width: 1280px;
	height: 720px;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 400;
	padding: 5px;
	font-size: 16px;
	pointer-events: auto;
	-webkit-transition: none;
	transition: none;
}

.slide-hints-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	opacity: 1;
	-webkit-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
	pointer-events: none;
}

.slide-hints-inner {
	position: relative;
	margin: auto;
	max-width: 98%;
	max-height: 98%;
	background: #fff;
	color: #222;
	text-align: left;
	border-radius: 4px;
	-webkit-transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
	transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
	transition: transform 0.15s ease, opacity 0.15s ease;
	transition: transform 0.15s ease, opacity 0.15s ease, -webkit-transform 0.15s ease;
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	transition: none;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.slide-hints {

	width: 1152px;
	height: 648px;

	padding-bottom: 5px;
	background-color: #eee;
	position: relative;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

	/*
	margin: 10px auto;
	background-color: #fff;
	border: 1px solid;
	border-radius: 6px;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	z-index: 1057;
	font-size: 2.5rem;
	padding: 10px;
	opacity: 1;
	 */
}

.slide-hints-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	padding: 10px;
	background-color: #eee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.slide-hints-header .header-actions {
	position: absolute;
	right: 20px;
	top: 8px;
}

.slide-hints-header .header-actions .hints-close {
	padding: 2px 10px;
	background: #555;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	font-size: 3rem;
	pointer-events: all;
}

.story-container-inner .reveal .sl-block[data-block-type=text] {
	height: auto !important;
}

.story-container-inner .reveal .sl-block[data-block-type=text] > .sl-block-content {
	overflow: unset !important;
}

.story-container-inner .reveal .sl-block[data-block-type=transition],
.story-container-inner .reveal .sl-block[data-block-type=test] {
	height: auto !important;
}

.story-container-inner .reveal .sl-block button.btn {
	box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 1.8rem !important;
}
