.mental-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.mental-map-container {
  position: relative;
  width: 100%;
  height: 100%;
  /*border: 1px #808080 solid;*/
  flex: 1;
  overflow: hidden;
  /*display: flex;
  justify-content: center;*/
}

.mental-map-img {
  cursor: pointer;
}

.mental-map-img .map-img {
  width: 100%;
  transition: transform .25s ease-in, opacity .25s linear;
}

.mental-map-point {
  width: 2rem;
  display: inline-block;
  height: 2rem;
  background-color: red;
  border-radius: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.mental-map-img:not(.fragment-item-done):hover .map-img {
  transform: scale(1.05);
}

.mental-map-detail-container {
  /*max-width: 800px;*/
  min-width: 600px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mental-map-detail-content {
  display: flex;
  flex-direction: row;
  flex: 1 0 50%;
  overflow-y: auto;
}

.mental-map-detail-container-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.detail-text-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
}

.detail-text {
  font-size: 2.2rem;
  line-height: 3rem;
}

.mental-map-all-text-btn {
  /*position: absolute;
  left: 10px;
  top: 10px;*/
}

.mental-map-hide-btn {
  position: absolute;
  right: 0;
  top: 70px;
}

.mental-map-fast-wrap {
  position: absolute;
  right: 10px;
  top: 130px;
}

.mental-map-fast-wrap label {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 10px;
  display: flex;
  align-items: center;
}

.mental-map-fast-wrap input[type=checkbox] {
  zoom: 1.4;
  margin-left: 6px;
  margin-top: 0;
}

.mental-map-all-text-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 10px;
  overflow-y: auto;
  text-align: left;
}

.mental-map-all-text-container .selected {
  color: #fff !important;
}

.text-container-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  column-gap: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.image-item img {
  max-width: 160px;
}

.image-item svg {
  max-width: 160px;
}

.text-item {
  font-size: 2.2rem;
  line-height: 3rem;
  flex: 1;
}

.text-item-word {
  display: inline-block;
  white-space: nowrap;
  margin-right: 8px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 6px;
}

.text-item-word.selected {
  color: #eee;
  border: 1px #808080 solid;
}

.recording-result {
  outline: 0;
  background-color: #eee;
  line-height: 50px;
  color: black;
  margin-right: 3px;
  padding: 10px;
}

.recording-final {
  outline: 0;
  background-color: #eee;
  line-height: 50px;
  color: black;
}

.recording-interim {
  color: gray;
}

.recording-status {
  display: flex;
  /*flex: 0 0 100px;*/
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.retelling-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  /*max-width: 800px;*/
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 1 auto;
}

.recording-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.retelling-container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mental-map-text-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
}

.line-sep {
  height: 8px;
}

.word-target {
  font-weight: 600;
}

.mental-map-toolbar {
  text-align: left;
  background-color: #eee;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px #808080 solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-text-actions {
  text-align: right;
  margin-bottom: 10px;
}

.zoom-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px #808080 solid;
}

.mental-map-close {
  position: absolute;
  right: 0;
  top: 0;
}

.result-item {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px;
}

.textarea {
  background-color: transparent;
  border-color: #b0bec5;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  color: #455a64;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
  height: 100%;
  line-height: 4rem;
  min-height: 100px;
  overflow-y: auto;
  outline-style: solid;
  outline-width: 0;
  padding: 1rem 1.2rem;
  resize: none;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  width: 100%;
}

.fragment-done {
  background-color: #d1e7dd;
  padding: 4px;
  border-radius: 6px;
  border: 1px #a3cfbb solid;
  color: #0a3622;
  font-weight: 500;
  transition: all .2s;
}

.gn.disabled {
  transition: all ease-in-out 200ms;
  opacity: .5;
  cursor: not-allowed !important;
}

.map-fragment {
  border: 3px #1baee1 solid;
  background-color: rgba(27, 174, 225, 0.1);
}

.fragment-bg-blue {
  background-color: #cfe2ff;
  opacity: 1;
  border: 3px #9ec5fe solid;
}

.fragment-bg-red {
  background-color: #f8d7da;
  opacity: 1;
  border: 3px #f1aeb5 solid;
}

.fragment-bg-green {
  background-color: #d1e7dd;
  opacity: 1;
  border: 3px #a3cfbb solid;
}

.tooltip {
  font-size: 1.6rem;
}

.fragment-item-done {
  border: 4px #198754 solid !important;
}

.done-elem {
  opacity: 0;
  transition: transform .25s ease-in, opacity .25s linear;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  padding: 6px;
  background-color: #198754;
  color: white;
  border-radius: 50%;
  z-index: 1;
}

.fragment-item-done .done-elem {
  opacity: 1;
}

.fragment-transparent .map-fragment {
  background-color: transparent;
  border: 0 none;
}

.content-loader-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.microphone-error {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}
