services:
  site:
    build:
      context: ./docker
      dockerfile: apache-php/Dockerfile
    volumes:
      - ./:/var/www/html
      - ./docker/apache-php/log:/var/log
    restart: always
    ports:
        - "80:80"
        - "443:443"
    networks:
        - gpt-network

  site-node-watch:
    image: node:19-alpine
    user: "1000:1000"
    volumes:
        - ./:/var/www/html
    working_dir: /var/www/html
    command: sh -c 'until [ -f .ready ] ; do sleep 1 ; done && npm run watch'
    networks:
        - gpt-network

  site-node-cli:
    image: node:19-alpine
    user: "1000:1000"
    volumes:
        - ./:/var/www/html
    working_dir: /var/www/html
    networks:
        - gpt-network

  site-mysql:
    image: mysql:5.7
    volumes:
        - site-mysql-volume:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: app
        MYSQL_USER: app
        MYSQL_PASSWORD: app
        MYSQL_DATABASE: app
        TZ: Europe/Moscow
    ports:
        - "3306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
        - gpt-network

  site-ws:
    extends:
      file: ws/compose.yml
      service: wikids-ws

volumes:
    site-mysql-volume:

networks:
    gpt-network:
        external: true
