
.tree-dialog-body {
  padding-left: 20px;
  padding-right: 10px;
  width: 100%;
  max-width: none;
}

.tree-dialog-body .node-row.node-active .node-body,
.tree-dialog-body .node-row.node-active .node-status {
  background-color: #dee2e6;
}

.tree-dialog-body .fragment-item-done {
  border: 0 none !important;
}

.tree-dialog-body .node-title {
  font-size: 20px;
  line-height: 34px;
}

.tree-dialog-body .retelling-success, .tree-dialog-body .retelling-failed {
  opacity: 0;
  transition: all 200ms;
}

.tree-dialog-body .map-user-status {
  pointer-events: all;
  font-size: 15px;
  line-height: 22px;
  background-color: unset;
  justify-content: right;
  margin-top: 0;
  width: 100%;
  gap: 2px;
}

.tree-dialog-body .node-status {
  width: 220px;
  height: 100%;
  left: unset;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 10px 0 0;
  background-color: #faf9f9;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.tree-dialog-body .node-row:hover .node-body,
.tree-dialog-body .node-row:hover .node-status {
  background-color: #eee;
}

.tree-dialog-body .map-user-status .map-user-status-time {
  display: none !important;
}

.tree-dialog-body .node-row {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  height: 100%;
  padding: 4px 0;
}

.tree-dialog-body .node-body {
  flex: 1;
  background-color: #faf9f9;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}



.toggle {
  appearance: none;
  border: none;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #000;
  width: 16px;
  height: 16px;
  padding: 0;
  top: 50%;
  translate: -50% -50%;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  left: -22px;
  z-index: 1;
}

.toggle__expandButton {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48cGF0aCBkPSJNOSA0LjV2OSIvPjwvZz4KPC9zdmc+);
}

.toggle__collapseButton {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGNpcmNsZSBjeD0iOSIgY3k9IjkiIHI9IjgiIGZpbGw9IiNGRkYiLz48ZyBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMS45IiA+PHBhdGggZD0iTTQuNSA5aDkiLz48L2c+Cjwvc3ZnPg==);
}

.tree-row {
  display: flex;
  align-items: stretch;
  position: relative;
  min-width: 100%;
  white-space: nowrap;
  text-align: start;
}

.tree-structure {
  display: flex;
  align-items: center;
}

/* базовый блок */
.tree-line,
.tree-join {
  width: 44px;
  height: 100%;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

/* вертикальная линия │ */
.line-vertical::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ccc;
  inset-inline-start: 50%;
}

/* ├ */
.join-middle::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ccc;
  inset-inline-start: 50%;
}

.join-middle::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50%;
  inset-inline-end: 0;
  height: 1px;
  background: #ccc;
}

/* └ */
.join-last::before {
  content: '';
  position: absolute;
  top: 0;
  height: 50%;
  width: 1px;
  background: #ccc;
  inset-inline-start: 50%;
}

.join-last::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1px;
  inset-inline-end: 0;
  background: #ccc;
}

.join-first::before {
  top: 50%;
}

/* toggle */
.tree-toggle {
  width: 16px;
  cursor: pointer;
  text-align: center;
}

/* content */
.tree-content {
  flex: 1;
  position: relative;
}

.tree-dialog-body .node-body {
  padding-left: 0 !important;
}

.tip-content {
  font-size: 16px;
  min-width: 500px;
  max-width: 700px;
}
.tip-content-body {
  padding: 10px;
  user-select: none;
  white-space: pre-wrap;
}

.map-user-status-hiding-wrap,
.map-user-status-all-wrap {
  /*border: 1px #2e6da4 solid;*/
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.map-user-status-hiding-wrap {
  background-color: #cfe2ff;
}

.map-user-status-all-wrap {
  background-color: #d1e7dd;
}

.map-user-status-hiding-wrap:hover,
.map-user-status-all-wrap:hover {
  background-color: rgba(187, 187, 187, .5);
}

.tip-content-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tip-content-header a {
  color: white;
}
