
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.slides-container::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

.slides-container::-webkit-scrollbar-thumb:vertical {
    min-height: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: rgba(100,100,100,0.6);
    background-clip: padding-box
}

.slides-container::-webkit-scrollbar-thumb:horizontal {
    min-width: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: rgba(100,100,100,0.6);
    background-clip: padding-box
}

.slides-container::-webkit-scrollbar-thumb:vertical:hover,
.slides-container::-webkit-scrollbar-thumb:vertical:active,
.slides-container::-webkit-scrollbar-thumb:horizontal:hover,
.slides-container::-webkit-scrollbar-thumb:horizontal:active {
    background-color: rgba(100,100,100,0.9)
}



.slides-container .no-slides {
    color: #eee;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.story-images-list .thumbnail {
    width: 152px;
    height: 152px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    cursor: pointer;
    position: relative;
    margin: 0 auto 20px;
}

.story-images-list .thumbnail > .in-story {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
    height: 20px;
    color: #1baee1;
    z-index: 3;
}

.story-images-list .thumbnail:hover {
    border-color: #666;
}

.story-images-list .thumbnail-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 2;
    background-color: rgba(255,255,255,0.3);
}

.story-images-list .thumbnail:hover .thumbnail-inner {
    display: block;
}

.story-images-list .thumbnail-inner span {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    line-height: 30px;
    border-radius: 30px;
    font-size: 12px;
    text-align: center;
    background-color: #222;
    z-index: 9999;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),-webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),-webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),visibility 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),-webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.story-images-list {
    min-height: 500px;
    width: 100%;
    height: 100%;
}

.story-images-list .no-images {
    text-align: center;
}

.no-images h4 {
    line-height: 500px;
}

.story-images-list .thumbnail-inner span:hover {
    background-color: #444;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.story-images-loader {
    min-height: 500px;
    height: 100%;
    width: 100%;
    position: relative;
}

.story-images-loader-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.story-images-loader-inner img {
    position: absolute;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
    top: 50%;
    width: 128px;
    height: 128px;
}

.file-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    display: none;
}

.file-loading img {
    width: 80px;
    height: 80px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.wrap-editor .reveal .sl-block .sl-block-content:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1;
    background-color: transparent;
    border-radius: inherit;
}


.wrap-editor {
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    padding-left: 180px;
    padding-right: 120px;
}

.wrap-editor-main {
    position: relative;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.slides-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #222;
}

.reveal-viewport {
    width: 100%;
    height: 100%;
    padding: 0;
}

.blocks-sidebars {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 120px;
    background-color: #333333;
    color: #fff;
    border-right: 1px solid #222;
    border-left: 1px solid #222;
}

.blocks-sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 14px;
    opacity: 0;
    padding: 10px;
}

.blocks-sidebar-item {
    width: 100px;
    height: 90px;
    padding: 20px 10px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.blocks-sidebar-item.group {
    padding: 0;
    height: 50px;
}

.blocks-sidebar-item.group .group-item {
    width: 50px;
    display: inline-block;
    height: 100%;
}

.blocks-sidebars .popover {
    color: #333333;
}

.blocks-sidebars .popover-content {
    padding: 0;
}

.blocks-sidebar-item .icon {
    display: block;
    font-size: 2em;
    pointer-events: none;
}

.blocks-sidebar-item .text {
    display: block;
    font-size: 1em;
    margin-top: 1em;
    pointer-events: none;
}

.blocks-sidebars li.blocks-sidebar-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.blocks-sidebars li.blocks-sidebar-item.group:hover {
    background-color: transparent;
}

.blocks-sidebars li.blocks-sidebar-item .group-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.slide-menu {
    position: absolute;
    width: 216px;
    font-size: 18px;
}

.slide-menu-item {
    height: 36px;
    width: 36px;
    line-height: 36px;
    list-style: none;
    color: #fff;
    vertical-align: middle;
    background: rgba(20,20,20,0.8);
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    display: inline-block;
}

.slide-menu-item:hover,
.slide-menu-item.set-in {
    opacity: 1;
}

.slide-menu-item span {
    position: relative;
    display: inline-block;
    line-height: 1;
    pointer-events: none;
}

.prompt-item {
    display: block;
    position: relative;
    border-bottom: 1px solid #ddd;
    color: #555;
    max-width: 400px;
    min-width: 200px;
    background-color: #fff;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    width: 250px;
}

.prompt-item:hover {
    color: #111;
}

.prompt-item-inner {
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.prompt-item .prompt-item-inner .title {
    font-weight: 500;
    font-size: 14px;
}

.prompt-wrapper .prompt-item:last-child {
    border-bottom: 0;
}

.slides-actions {
    width: 100%;
    padding: 6px 8px 6px 8px;
    border-bottom: 1px solid #333;
}

.slides-actions button {
    background: #666;
    position: relative;
    width: 100%;
    margin-top: 3px;
    font-size: 1.6rem;
    color: #eee;
    border-radius: 2px;
    cursor: pointer;
    line-height: initial;
    transition: background 0.12s ease;
    -webkit-font-smoothing: initial;
    text-align: center;
    display: inline-block;
    height: 40px;
    padding: 0;
    margin-bottom: 3px;
    border: 0;
}

.action-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action-group .button__wrap {
  flex: 1;
  margin-right: 2px;
}
.action-group .button__wrap:last-child {
  margin-left: 2px;
  margin-right: 0;
}

.slides-actions .action-group button {
    width: 80px;
}

.blocks-sidebars ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.blocks-sidebar.visible {
    opacity: 1;
}

.slides-container {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    padding-left: 8px;
}

.slides-container .ui-state-highlight {
    height: 45px;
    background: none;
    background-color: #666666 !important;
}

.slides-container-item {
    cursor: pointer;
    background-color: inherit;
    color: #eee;
    border-top: 1px solid #2a2a2a !important;
    display: flex;
    padding: 6px 10px;
}

.slides-container-item:hover {
    background-color: #515151;
}

.slides-container-item .slide-number {
    flex-grow: 1;
    line-height: 32px;
    text-align: center;
}

.slides-container-item .slide-mode {
    flex-grow: 2;
    line-height: 32px;
}

.slides-container-item .slide-mode i {
    margin-right: 10px;
}

.slides-container-item .slide-move {
    flex-grow: 1;
    line-height: 32px;
    text-align: center;
}

.wrap-editor .list-group li {
    border: 0 none;
}

.wrap-editor-main .sl-block .new-questions,
.slides-container .sl-block .new-questions {
    background-image: url(/img/education.png);
    background-size: auto;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.8;
    color: #1baee1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    font-weight: 500;
  position: absolute;
  z-index: 99999;
}

.wrap-editor-main .sl-block .wikids-video-player,
.slides-container .sl-block .wikids-video-player {
    background-image: url(/img/youtube.png);
    background-size: auto;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.8;
    color: #1baee1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    font-weight: 500;
}

.wikids-active-block {
    /*border: 6px #0b58a2 solid;*/
}

.sl-block-transform {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*visibility: hidden;*/
    z-index: 255;
    font-size: 10px;
    direction: ltr;
    pointer-events: none !important;
    visibility: inherit;
    /*transition: background-color .3s ease-in;*/
}

.sl-block-transform-hover {

}

.sl-block-transform-active {

}

/*
#story-editor .sl-block .sl-block-content {
    cursor: pointer;
}*/

#story-editor section:before {
    content: '';
    display: block;
    border: 1px dashed rgba(150,150,150,0.5);
    box-sizing: border-box;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    z-index: 2000;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#story-editor section.is-link:before {
    pointer-events: auto !important;
}

.sl-block-border {
    border: 2px solid #1baee1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.sl-block-border-active {
    border: 1px solid #1baee1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*
.reveal p,
.reveal div.slide-paragraph {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

#story-editor .sl-block {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: none;
    transition: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

#story-editor .sl-block .sl-block-content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    margin: 0;
    outline: 0;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}

.ui-resizable-handle {
    pointer-events: all !important;
}

#story-editor section:not(.stack).present .sl-block>* {
    pointer-events: auto;
}

#story-editor .sl-block.is-editing .sl-block-content:before {
    display: none;
}

#story-editor h1 {
    color: inherit;
}

.thumb-reveal-wrapper {
    position: relative;
    height: 120px;
    width: 160px;
    margin-bottom: 6px;
}

.thumb-reveal {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}
.thumb-reveal section {
    border: 0 !important;
    outline: 0 !important;
    display: block !important;
}

.thumb-reveal-inner {
    width: 100%;
    overflow: hidden;
    border: 1px solid #666;
    height: 120px;
}
.thumb-reveal-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;
}
.thumb-reveal-options {
    position: absolute;
    left: 70px;
    bottom: 2px;
    z-index: 101;
}
.thumb-reveal-visible {
    position: absolute;
    left: 3px;
    bottom: 2px;
    z-index: 101;
    visibility: hidden;
}

.thumb-reveal-is-link {
    position: absolute;
    right: 3px;
    bottom: 2px;
    z-index: 101;
}

.thumb-reveal-wrapper.active .thumb-reveal-inner,
.thumb-reveal-wrapper:hover .thumb-reveal-inner {
    border-color: #eee;
}

.thumb-reveal-wrapper.active .slide-number {
    background-color: #e0e0e0;
    color: #222;
    font-weight: bold;
    font-size: 13px;
}

.thumb-reveal-options > .option,
.thumb-reveal-visible > .option,
.thumb-reveal-is-link > .option {
    display: block;
    float: right;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 26px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    opacity: 1;
    cursor: pointer;
}

.thumb-reveal-wrapper.slide-hidden .thumb-reveal-visible {
    visibility: visible;
}

.sl-block-image-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 255;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none !important;
}

.sl-block-image-controls .sl-block-image-control {
    padding: 6px;
    margin: 4px 4px 0 0;
    font-size: 16px;
    pointer-events: auto;
    background-color: rgba(0,0,0,0.3);
}

.sl-block[data-block-type="image"]:hover .sl-block-image-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sl-block-image-controls .sl-block-image-control.button {
    color: #fff;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.reveal .sl-block[data-block-type="image"].is-panning .sl-block-image-controls {
    display: none;
}

.reveal .sl-block[data-block-type="image"].is-panning .sl-block-content {
    overflow: visible !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    z-index: 255 !important;
}

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    background: #111;
    color: #fff;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.page-loader.loaded {
    visibility: hidden;
    opacity: 0;
}

.page-loader .page-loader-inner {
    position: absolute;
    display: block;
    top: 40%;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.3s linear 0.1s;
    transition: opacity 0.3s linear 0.1s;
}

.page-loader .page-loader-inner .page-loader-spinner {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
    background: url('/img/loading.gif') no-repeat;
    background-size: cover;
    border-radius: 1px;
}

.page-loader .page-loader-inner .page-loader-message {
    display: block;
    margin: 0;
    vertical-align: top;
    line-height: 32px;
    font-size: 14px;
    color: #bbb;
    font-family: Helvetica, sans-serif;
}

.reveal .sl-block .sl-block-placeholder {
    background-image: url(/img/image-placeholder-white.svg);
    background-size: contain;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.9;
}

.reveal .sl-block .sl-block-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.lesson-bar {
  background-color: #222;
  height: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 6px 8px 0 8px;
  align-items: center;
}

.bar-back {

}

.bar-back .button {
  width: 164px;
}

.bar-back .button .glyphicon {
  font-size: 20px;
}

.bar-content {
  margin-left: 20px;
}

.back-content__title {
  color: #fff;
  margin: 0;
}

.button {
  background: #666;
  position: relative;
  margin-top: 3px;
  font-size: 1.6rem;
  color: #eee;
  border-radius: 2px;
  cursor: pointer;
  line-height: initial;
  transition: background 0.12s ease;
  -webkit-font-smoothing: initial;
  text-align: center;
  display: inline-block;
  height: 40px;
  padding: 0;
  margin-bottom: 3px;
  border: 0;
}

.goto-test {
  text-decoration: underline;
}
