
.story-controls {
    height: 50px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
}

.customcontrols {
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 9999;
    pointer-events: none;
    font-size: 10px !important;
}

.customcontrols button {
    position: relative;
    width: 3.6em;
    height: 3.6em;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    z-index: 99999;
    pointer-events: auto;
}

.customcontrols button i {
    font-size: 2.5em;
}

.customcontrols .custom-navigate-left {

}

.customcontrols .custom-navigate-right {

}

.customcontrols .custom-controls-arrow {
	position: relative;
    width: 1.6em;
    height: 1.6em;
}

.customcontrols .custom-navigate-right .custom-controls-arrow {

}
