services:
    wikids-ws:
        build:
            context: .
            dockerfile: ./Dockerfile
        volumes:
            - .:/app
        working_dir: /app
        restart: unless-stopped
        ports:
            - "4000:4000"
