.progress-wrap {
  position: relative;
  height: 10px;
  z-index: 200;
}

.map-progress {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: 0;
  transition-duration: .3s;
  transition-property: padding,height;
  background: rgba(0,0,0,0)
}

.progress__container {
  position: relative;
  width: 100%;
  min-height: 2px;
  height: 10px;
  padding: .3rem 0;
  overflow: hidden;
  background-color: #faf9f9;
}

.progress__container-indicator {
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 10px;
  background: rgba(13,110,253);
  transition-duration: .3s;
  transition-property: transform
}

.all-progress-wrap .progress__container-indicator {
  background-color: rgba(25, 135, 84);
}
