.inner {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  background: rgb(38, 38, 41);
}
.main {
  width: 100%;
  height: 100%;
}
.wrap {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  position: relative;
}
