.back-arrow {
  background-color: #eee;
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
}

.teacher-toolbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px #eee solid;
  padding-bottom: 10px;
}

.teacher-toolbar li.active a {
  color: #99cd50;
  text-decoration: none;
  background-color: #eeeeee;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}

/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
}

.thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.story-category-list li {
  margin-bottom: 1rem;
}


.testing-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px 0;
}
.testing-item__name {
  margin-right: auto;
}
.testing-item__progress {

}
.table-stat {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.left-col {
  max-width: 384px;
  width: 100%;
  flex: 1 0 auto;
}
.right-col {
  max-width: calc(100% - 384px);
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  margin-bottom: -17px;
  position: relative;
  overflow-x: auto;
}
.table-head {
  width: 100%;
}
.table-body {
  width: 100%;
}
.table-cell {
  height: 40px;
  padding: 12px 8px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 15;
  background: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.table-header-cell {
  line-height: 14px;
  word-wrap: normal;
  white-space: normal;
  padding: 11px 8px 8px;
  font-weight: bold;
  color: #000;
  text-transform: none;
  text-align: left;
  font-size: 1.4rem;
}
.table-cell.size-1 {
  width: 80px;
}
.table-cell.size-2 {
  width: 160px;
}
.student-link {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: all ease .3s;
  color: #99CD50;
}
.right-col-inner {
  display: flex;
  padding-bottom: 17px;
  transition: transform .25s ease-in-out;
}
.topic-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  padding-right: 20px;
  align-items: flex-start;
}
.topic-cell {
  width: 100%;
  max-width: 100%;
  flex: 1 0 100%;
  white-space: nowrap;
}
.content-lesson {
  display: inline-block;
  margin-right: 5px;
  padding-top: 2px;
  font-size: 13px;
}
.content-lesson span {
  box-sizing: border-box;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  margin: 0 0 0 0;
}
.content-lesson .not-started {
  border: 2px #d3d3d3 solid;
  background: transparent;
}
.content-lesson .in-progress {
  border: 2px #6fc4e2 solid;
  background: transparent;
}
.content-lesson .is-done {
  background-color: #37ae68;
}



.class-program-list li.active a {
  text-decoration: none;
  color: #99cd50;
}
.student-progress-cell__header {
  color: #aab8be;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 11px 8px 8px;
}
.student-progress-table__body {
  display: flex;
  position: relative;
}
.student-progress-table {
  max-width: min-content;
  width: 100%;
}
.student-progress-table-content {
  max-width: 688px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.topic-row {
  position: relative;
  width: 100%;
  height: 40px;
  padding-right: 30px;
}
.topic-row__cell {
  padding: 12px 8px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-row {
  position: relative;
  width: 100%;
  height: 40px;
}
.topic-row:nth-child(even), .content-row:nth-child(even) {
  background-color: #f2f2f3;
}
.content-row__cell {
  padding: 12px 8px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-lesson {
  display: inline-block;
  margin-right: 5px;
  padding-top: 2px;
  font-size: 13px;
}
.content-lesson span {
  box-sizing: border-box;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  margin: 0 0 0 0;
}
.content-lesson .not-started {
  border: 2px #d3d3d3 solid;
  background: transparent;
}
.content-lesson .in-progress {
  border: 2px #6fc4e2 solid;
  background: transparent;
}
.content-lesson .is-done {
  background-color: #37ae68;
}
.testing-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px 0;
}
.testing-item__name {
  margin-right: auto;
}
.testing-item__progress {

}
.testing-item__incorrect {
  color: red;
  font-weight: bold;
  margin-right: 20px;
}


.header-block {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}
.panel-wrap {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(57 78 127 / 20%) 0px 4px 8px;
  border-radius: 16px;
  transition: transform 125ms ease-in-out 0s, box-shadow 125ms ease-in-out 0s;
}
.panel-wrap:hover {
  color: #091526d9;
}
.panel-img {
  width: 100%;
  height: 64px;
  margin-top: 32px;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('/school/img/logo.svg');
}
.panel-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
  width: 100%;
}
.panel-header {
  display: flex;
  flex-direction: column;
  height: 44px;
}
.panel-header__text {
  width: 100%;
  text-align: center;
  color: rgba(9, 21, 38, 0.85);
  padding: 0 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.panel-progress {
  width: 177px;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
.progress-chart {
  width: 56px;
  height: 56px;
  margin-right: 12px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-text {
  color: rgba(9, 21, 38, 0.6);
  font-size: 14px;
  line-height: 20px;
  transform: rotate(0.03deg);
}


.lesson-item {
  position: relative;
  width: 200px;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
}
.lesson-item__wrap {
  margin-bottom: 1rem;
  text-decoration: none;
}
a.lesson-item__wrap:hover .lesson-name span {
  color: #99cd50 !important;
}
.lesson-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.lesson-image__img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lesson-name {
  color: rgba(9, 21, 38, 0.85);
  text-align: center;
  width: 100%;
  margin-top: 16px;
}
.lesson-name__inner {
  max-width: 100%;
  display: inline-block;
  color: inherit;
  font-weight: normal;
  font-style: normal;
  transform: rotate(0.03deg);
  font-size: 16px;
  line-height: 22px;
}

.story-container-inner .slides section {
  padding: 0;
  height: 100%;
}
